<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon appli</title>
</head>
<body>
    <h1>Page de connexion</h1>
    <form action="{{ url_for('login') }}" method="POST"> <!-- Correction ici -->
        <p>
            <!-- Champ de type "text" -->
            <label for="nom">Nom : </label>
            <input type="text" name="nom" id="nom" required>
        </p>
        <p>
            <!-- Champ de type "password" -->
             <label for="mdp">Mot de passe : </label>
             <input type="password" name="mdp" id="mdp" required>
        </p>
        <p>
            <!-- Bouton d'envoi du formulaire -->
            <input type="submit" value="Se connecter">
        </p>
    </form>
</body>
</html>