<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friendly step</title>
</head>

<body> 
    <h1>Notre projet</h1>
    <p>
        Notre objectif est de favoriser la mobilité de chacun en encourageant chacun à adopter un meilleur mode de vie

    </p>
    
    <p>
        <a href="/account_settings">
            <button>Créer un compte</button>
        </a>
    </p>
    
    <p>
        <a href="/login">
            <button>Se connecter</button>
        </a>
    </p>
</body>