<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vos données de santé</title>
</head>
<body>
    <h1>Vos données de santé</h1>
    <form action="/submit" method="POST">
        <p>
            <label for="donnees-pas">Pas :</label>
            <input type="number" name="pas" id="donnees-pas">
        </p>
        <p>
            <label for="kilometres-parcourus">Nombre de kilomètres :</label>
            <input type="number" name="kilometres" id="kilometres-parcourus">
        </p>
        <p>
            <label for="calories">Calories brûlées :</label>
            <input type="number" name="calories" id="calories">
        </p>
        <p>
            Est-ce que vous êtes reposé(e) après cette nuit ?
            <input type="radio" name="choix_du_sommeil" value="1" id="choix1">
            <label for="choix1">Non</label>
            <input type="radio" name="choix_du_sommeil" value="2" id="choix2">
            <label for="choix2">Moyennement</label>
            <input type="radio" name="choix_du_sommeil" value="3" id="choix3">
            <label for="choix3">Oui</label>
        </p>
        <p>
            <input type="submit" value="Actualiser vos données">
        </p>
    </form>

    <!-- Bouton pour voir les données enregistrées -->
    <p>
        <a href="/voir_donnees">
            <button>Voir les données enregistrées</button>
        </a>
    </p>
</body>
</html>
