{% extends "base.html" %}

{% block content %}

    {% for notification in notifications %}
        {% with object = notification['object'] %}
        <div class="notification">
            <p class="notification_objects" id="notification_object">{{ object }}</p>
            <div class="arrow-container" onclick="toggleDetails('{{ loop.index }}')" id="notification_arrow_container">
                <span class="arrow">&#129095;</span>
            </div>                
            <div class="notification-details" id="details-{{ loop.index }}">
                <!-- Détails du tournoi -->
                <p><strong>De :</strong> {{ notification.get('sender', 'Inconnu') }}</p>
                <p><strong>Envoyé le :</strong> {{ notification.get('sent_at_date', 'Inconnue') }} à {{ notification.get('sent_at_hour', 'Inconnue') }}</p>
                <p>{{ notification.get('content', 'Inconnue') }}</p>
                {% if notification['object'] in invitations_and_requests %}
                    <div class="action-buttons">
                        <button onclick="Accept('{{ object }}','{{ loop.index - 1 }}')">Accepter</button>
                        <button onclick="Decline('{{ object }}','{{ loop.index - 1 }}')">Refuser</button>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endwith %}
    {% endfor %}

    {% if not notifications %}
    <div >
        <p>Vous n'avez pas de nouvelles notifications</p>
    </div>
    {% endif %}

    <script>
        function toggleDetails(id) {
            event.stopPropagation();
            var details = document.getElementById("details-" + id);
            if (details.style.display === "none" || details.style.display === "") {
                details.style.display = "block";
            } else {
                details.style.display = "none";
            }
        }
        function Accept(object, index) {
            if (object === 'Tournament entry request' || object === "You are invited to a tournament!") {
                var url = "{{ url_for('social.notifications', index='__notification_id__', response='Yes') }}";
                url = url.replace('__notification_id__', index);
            }
            else if (object === "New friend request") {
                var url = "{{ url_for('social.notifications', index='__notification_id__', response='Yes') }}";
                url = url.replace('__notification_id__', index);
            }
            window.location.href = url;
        }
        function Decline(object, index) {
            if (object === 'Tournament entry request' || object === "You are invited to a tournament!") {
                var url = "{{ url_for('social.notifications', index='__notification_id__', response='No') }}";
                url = url.replace('__notification_id__', index);
            }
            else if (object === "New friend request") {
                var url = "{{ url_for('social.notifications', index='__notification_id__', response='No') }}";
                url = url.replace('__notification_id__', index);
            }
            window.location.href = url;
        }
    </script>
{% endblock %}