{% extends "base.html"%}

{% block content%}

<div class="social_container">
     <div class="col-md-12" onclick="Navigate_to_social_pages('notifications')">
        <h1>Notifications</h1>
        <a>Consultez ici vos demandes d'amis et de compétitions</a>
    </div>
</div>
        
<div class = "social_container">
    <div class="col-md-12" onclick="Navigate_to_social_pages('messaging')">
        <h1>Messages</h1>
        <p>Consultez ici vos messages</p>
    </div>
</div>

<script>
    function Navigate_to_social_pages(page) {
        var url;
        if (page === 'notifications') {
            url = "{{ url_for('social.notifications') }}";
        }
        else if (page === 'messaging') {
            url = "{{ url_for('social.messaging') }}";
        }
        window.location.href = url;
    }
</script>

{% endblock %}