{% extends "base.html"%}

{% block content%}

<div class="container">
     <div class="col-md-12" onclick="Navigate_to_social_pages('notifications')">
        <h1>Notifications</h1>
        <a>Consultez ici vos demandes d'amis et de compétitions</a>
    </div>
</div>
        
<div class = "container">
    <div class="col-md-12">
        <h1>Messages</h1>
        <p>Consultez ici vos messages</p>
        <ul>
            {% for conv in conversations %}
            <li>
                <a href = "{{ url_for('social', conversation_id = conversation_id) }}">Messages</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    function Navigate_to_social_pages(page) {
        // Génération de l'URL dynamique dans le JavaScript en utilisant `url_for`
        var url;
        if (page === 'notifications') {
            url = "{{ url_for('social.notifications') }}"; // URL pour 'notifications'
        }
        // Rediriger vers l'URL générée
        window.location.href = url;
    }
</script>


{% endblock %}