{% extends "base.html"%}
{% block content%}

<h1> Créer une compétition</h1>

<form method="POST" action="{{ url_for('tournaments.create_tournament') }}">
    <p>
        <label for="name"> Nom de la compétition : </label>
        <input type="text" name="name" id="name" required>
    </p>
    <p>
        <label for="date">Date de début de la Compétition: </label>
        <input type="date" name="date" id="date" required>
    </p>
    <p>
        <label for="duration">Durée de la compétition: </label>
        <input type="number" name="duration" id="duration" required>
        <span>jours</span>
    </p>
    <p>
        <input type="submit" value="Créer">
    </p>
</form>

{% endblock %}