{% extends "base.html" %}

{% block content %}
<h1 id="Accueil">Tableau de bord</h1>

<p>Bonjour {{ session['name_user']|title if session["name_user"] else 'invité'}}, bienvenue sur votre tableau de bord de suivi !</p>
{% if session ["name_user"] %}
<div class="dashboard">
    <div class="container">
        <li>Nombre de pas : ****** pas</li>
    </div>
    <div class="container">
        <li>Distance : ****** km</li>
    </div>
    <div class="container">
        <li>Calories : ****** kcal</li>
    </div>
    <div class="container">
        <li>Nombre d’étages : ****** étages <li>
    </div>
    <div class="container">
        <li>Durée du sommeil : **h**min </li>
    </div>
    <div class="container">
        <li>Score du sommeil : ** </li>
    </div>
</div>
{% else %}
<div class="dashboard">
    <div class="container">
        <li>Nombre de pas : "{{ data['step_data'] }}" pas </li>
    </div>
    <div class="container">
        <li>Distance : "{{ data['distance_data'] }}" km </li>
    </div>
    <div class="container">
        <li>Calories : "{{ data['calories_data'] }}" kcal </li>
    </div>
    <div class="container">
        <li>Nombre d’étages : "{{ data['floors_data'] }}" étages <li>
    </div>
    <div class="container">
        <li>Durée du sommeil : "{{ data['sleep_duration_data']  }}" heures </li>
    </div>
    <div class="container">
        <li>Score du sommeil : "{{ data['sleep_score_data']  }}" </li>
    </div>
</div>
{% endif %}

{% endblock %}

<style>
    .container {
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        transition: background-color 0.3s ease;
    }

    .container:hover {
        background-color: gray;
    }
</style>