<body> 
    <h1> Vos données de santé</h1>
    <form action = "" methode="">

<p>
    <label for="données pas"> Pas :</label>
    <input type="number" name="pas" id=" données pas">
</p>

<p> 
    <label for="kilomètres parcourus"> Nombres de kilomètres</label>
    <input type="number" name="kilomètres" id="kilomètres parcourus">
</p>
<p>
    <label for="calories"> Calories brulées</label>
    <input type="number" name="calories" id="calories">
</p>

<!-- Si il y a besoin de saisir quelque chose sous la forme d'un choix multiple type QCM ou (oui/non)
Il faut faire sur le modèle du radio, de ce type: -->

<p>
    Est ce que vous êtes reposé(e) après cette nuit ?
    <input type= "radio" name = "choix-du-sommeil" value= "1" id = "choix1">
    <label for="choix1" >Non</label>
    <input type= "radio" name = "choix-du-sommeil" value= "2" id = "choix2">
    <label for="choix2" >Moyennement</label>
    <input type= "radio" name = "choix-du-sommeil" value= "3" id = "choix3">
    <label for="choix3" >oui</label> 

</p>

<p>
    <input type="submit" value="Actualiser vos données">
</p>
 

</body>