{% extends "base.html" %}

{% block content %}
<h1 id="tableau_de_bord_de_productivité">Tableau de bord de productivité</h1>
<nav id="tasks">
    <ul>
        <li>
            <div id="taches_journalieres" class="taches">Adrien</div>
            <div id="daily-tasks-list"></div>
            <div class="add-container">
                <button class="add" onclick="addTask('daily')">+</button>
            </div>
        </li>
        <li>
            <div id="taches_hebdomadaires" class="taches">Maxime</div>
            <div id="weekly-tasks-list"></div>
            <div class="add-container">
                <button class="add" onclick="addTask('weekly')">+</button>
            </div>
        </li>
        <li>
            <div id="taches_mensuels" class="taches">Jules</div>
            <div id="monthly-tasks-list"></div>
            <div class="add-container">
                <button class="add" onclick="addTask('monthly')">+</button>
            </div>
        </li>
    </ul>
</nav>

<!-- Modal pour ajouter une tâche -->
<div id="task-modal" class="modal">
    <div class="modal-content">
        <input type="hidden" id="task-type">
        <label for="task-title">Titre de la tâche</label>
        <input type="text" id="task-title" placeholder="Entrez le titre de la tâche">

        <label for="task-description">Description de la tâche</label>
        <textarea id="task-description" rows="5" placeholder="Entrez la description de la tâche..."></textarea>

        <button class="textarea_btn"  onclick="saveTaskDetails()">Enregistrer</button>
        <button class="textarea_btn" onclick="closeModal()">Annuler</button>
    </div>
</div>

<!-- Sidebar pour afficher les détails de la tâche -->
<div id="task-sidebar">
    <button id="close-sidebar">✖</button>
    <h2 id="sidebar-title"></h2>
    <p id="sidebar-description"></p>
</div>

<!-- Inclure le fichier JavaScript externe -->
<script src="{{ url_for('static', filename='js/java_main.js') }}"></script>

{% endblock %}