<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon appli</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav id="navbar">
        <img src="{{ url_for('static', filename='img/img_accueil.png') }}" alt="logo" width="50">
        <h1 id="frendly_steps">Friendly steps </h1>
        <ul>
            <li>
                <a href="{{ url_for('root') }}">Accueil</a>
            </li>

            {% if session ["name_user"] %}
            <li>
                <a href="{{ url_for('data_input') }}">Ajouter des données</a>
            </li>

            <li>
                <a href="{{ url_for('tournaments.tournaments') }}">Compétitions</a>
            </li>

            <li>
                <a href="{{ url_for('profile') }}">Profil</a>
            </li>
            {% endif %}
            
            <li>
                <a href="{{ url_for('faq') }}">Aide</a>
            </li>
            
            <li>
                {% if session ["name_user"] %}
                <a href="#" onclick="showLogoutConfirmation()">Se déconnecter</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Se connecter</a>
                {% endif %}
            </li>
        </ul>
    </nav>

    <div id="container">
        {% block content %}{% endblock %}
    </div>

    <div id="logout_confirmation" style="display: none;">
        <p>{{ session['name_user']|title }}, êtes-vous sur de vouloir vous déconnecter ? </p>
        <a href="{{ url_for('logout.logout') }}"><button type="button" class="logout_button" id="yes_logout">Oui</button></a>
        <button onclick="hideLogoutConfirmation()" class="logout_button" id="no_logout">Non</button>
    </div>
    <!-- Chatgpt -->
    <script>
        function navigateToPage() {
            const selectMenu = document.getElementById('page_circulation');
            const selectedValue = selectMenu.value; // Gets the `value` of the selected option
            window.location.href = selectedValue;  // Redirects the browser to the selected URL
        }
        function showLogoutConfirmation() {
            document.getElementById('logout_confirmation').style.display = 'block';
        }

        function hideLogoutConfirmation() {
            document.getElementById('logout_confirmation').style.display = 'none';
        }
    </script> 
    <!-- Chatgpt -->
</body>
</html>