{% extends "base.html"%}

{% block content%}
<from method="POST" action="">
<h1> Profil</h1>
<p> <!-- prénom -->
  <label for = "first_name">Prénom : </label>
  <input 
  type = "text"  
  id="first_name" 
  value = "{{ user['first_name'] }}"  
  oninput="afficherModification()"
  >
</p>

<p> <!-- nom de famille -->
    <label for = "last_name">Nom : </label>
    <input 
    type = "text" 
    name = "last_name" 
    id = "last_name" 
    value= "{{ user['last_name'] }}" 
    oninput="afficherModification()"
    >
</p>

<p>
  <!-- nom d'utilisateur -->
   <label for = "username" >Nom d'utilisateur : </label>
    <input 
    type = "text" 
    name = "username" 
    id = "username" 
    value= "{{ user['username'] }}"
    oninput="afficherModification()"
    >
</p>

<p>
<!--mot de passe -->
<label for="mdp">Mot de passe : </label>
 <input 
 type="password" 
 name="mdp" 
 id="mdp" 
 value="{{ user['mdp'] }}"
 oninput="afficherModification()"
 >
</p>

<p> <!-- mail -->
  <label for = "email">Adresse e-mail : </label>
  <input 
  type = "email" 
  name = "email" 
  id = "email"
  value ="{{ user['email'] }}" 
  oninput="afficherModification()"/>
</p>

<p> <!-- date de naissance -->
    <label for = "birth_date">Date de naissance :</label>
    <select name="birth_day" id="birth_day">
        <option value="{{ user['birth_day'] }}">{{ user['birth_day'] }}</option>
        {% for i in range(1, 32) %}
          <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
   
      <label for="birth_month">Mois de naissance:</label>
      <select name="birth_month" id="birth_month">
        <option value="{{ user['birth_month'] }}">{{ user['birth_month'] }}</option>
        <option value="1">Janvier</option>
        <option value="2">Février</option>
        <option value="3">Mars</option>
        <option value="4">Avril</option>
        <option value="5">Mai</option>
        <option value="6">Juin</option>
        <option value="7">Juillet</option>
        <option value="8">Août</option>
        <option value="9">Septembre</option>
        <option value="10">Octobre</option>
        <option value="11">Novembre</option>
        <option value="12">Décembre</option>
      </select>
  
      <label for="birth_year">Année de naissance:</label>
      <select name="birth_year" id="birth_year">
        <option value="{{ user['birth_year'] }}">{{ user['birth_year'] }}</option>
        <script>
          const currentYear = new Date().getFullYear();
          for (let i = currentYear; i >= 1900; i--) {
            document.write(`<option value="${i}">${i}</option>`);
          }
        </script>
      </select>
    </p>
  

<p> <!-- sexe -->
    Sexe : 
    <input type = "radio" name = "gender_choice" value = "H" id = "Homme"
    {% if user['gender_choice'] == 'H' %} checked {% endif %}>
    <label for ="Homme">Homme</label> 
    
    <input type = "radio" name = "gender_choice" value = "F" id = "Femme"
    {% if user['gender_choice'] == 'F' %} checked {% endif %}>
    <label for ="Femme">Femme</label>

    <input type = "radio" name = "gender_choice" value = "C" id = "Croissant"
    {% if user['gender_choice'] == 'C' %} checked {% endif %}>
    <label for ="Croissant">Croissant</label>

    <input type = "radio" name = "gender_choice" value = "A" id = "Autre"
    {% if user['gender_choice'] == 'A' %} checked {% endif %}>
    <label for ="Autre">Autre</label> 
   
    

</p>
<p> <!-- nationalité -->
    <label for = "nationality">Nationalité : </label>
    <select name="nationality" id="nationality">
        <option value="{{user['nationality'] }}">{{ user['nationality'] }}</option>
        <option value="afghanistan">Afghan</option>
        <option value="albanie">Albanais</option>
        <option value="algerie">Algérien</option>
        <option value="samoa_americaines">Américain Samoa</option>
        <option value="andorre">Andorran</option>
        <option value="angola">Angolais</option>
        <option value="antigua_et_barbuda">Antiguais et Barbudans</option>
        <option value="argentine">Argentin</option>
        <option value="armenie">Arménien</option>
        <option value="aruba">Arubais</option>
        <option value="australie">Australien</option>
        <option value="autriche">Autrichien</option>
        <option value="azerbaidjan">Azerbaïdjanais</option>
        <option value="bahamas">Bahaméen</option>
        <option value="bahrein">Bahreïnien</option>
        <option value="bangladesh">Bangladais</option>
        <option value="barbade">Barbadien</option>
        <option value="bielorussie">Biélorusse</option>
        <option value="belgique">Belge</option>
        <option value="belize">Belizien</option>
        <option value="benin">Béninois</option>
        <option value="bhoutan">Bhoutanais</option>
        <option value="bolivie">Bolivien</option>
        <option value="bosnie_et_herzegovine">Bosnien-Herzégovien</option>
        <option value="botswana">Botswanais</option>
        <option value="bresil">Brésilien</option>
        <option value="brunei">Brunéien</option>
        <option value="bulgarie">Bulgare</option>
        <option value="burkina_faso">Burkinabé</option>
        <option value="burundi">Burundais</option>
        <option value="cambodge">Cambodgien</option>
        <option value="cameroun">Camerounais</option>
        <option value="canada">Canadien</option>
        <option value="cap_vert">Cap-Verdien</option>
        <option value="chili">Chilien</option>
        <option value="chine">Chinois</option>
        <option value="chypre">Chypriote</option>
        <option value="colombie">Colombien</option>
        <option value="comores">Comorien</option>
        <option value="congo">Congolais</option>
        <option value="republique_democratique_du_congo">Congolais (Rép. dém.)</option>
        <option value="costarica">Costaricien</option>
        <option value="croatie">Croate</option>
        <option value="cuba">Cubain</option>
        <option value="chypre">Chypriote</option>
        <option value="danemark">Danois</option>
        <option value="djibouti">Djiboutien</option>
        <option value="dominique">Dominicain</option>
        <option value="egypte">Égyptien</option>
        <option value="equateur">Équatorien</option>
        <option value="erythree">Érythréen</option>
        <option value="espagne">Espagnol</option>
        <option value="estonie">Estonien</option>
        <option value="etats_unis">Américain</option>
        <option value="ethiopie">Éthiopien</option>
        <option value="fidji">Fidjien</option>
        <option value="finlande">Finlandais</option>
        <option value="france">Français</option>
        <option value="gabon">Gabonais</option>
        <option value="gambie">Gambien</option>
        <option value="georgie">Géorgien</option>
        <option value="ghana">Ghanéen</option>
        <option value="greece">Grec</option>
        <option value="grenade">Grenadien</option>
        <option value="guatemala">Guatémaltèque</option>
        <option value="guinee">Guinéen</option>
        <option value="guinee_bissau">Guinéen-Bissau</option>
        <option value="guyane_francaise">Guyanais</option>
        <option value="haiti">Haïtien</option>
        <option value="honduras">Hondurien</option>
        <option value="hongrie">Hongrois</option>
        <option value="inde">Indien</option>
        <option value="indonesie">Indonésien</option>
        <option value="irak">Irakien</option>
        <option value="iran">Iranien</option>
        <option value="irlande">Irlandais</option>
        <option value="islande">Islandais</option>
        <option value="israel">Israélien</option>
        <option value="italie">Italien</option>
        <option value="jamaique">Jamaïcain</option>
        <option value="jordanie">Jordannien</option>
        <option value="japon">Japonais</option>
        <option value="kenya">Kényan</option>
        <option value="kirghizistan">Kirghize</option>
        <option value="kiribati">Kiribatien</option>
        <option value="koweit">Koweïtien</option>
        <option value="laos">Laotien</option>
        <option value="lesotho">Lesothan</option>
        <option value="lettonie">Letton</option>
        <option value="liban">Libanais</option>
        <option value="liberia">Libérien</option>
        <option value="libye">Libyen</option>
        <option value="liechtenstein">Liechtensteinois</option>
        <option value="lituanie">Lituanien</option>
        <option value="luxembourg">Luxembourgeois</option>
        <option value="macedoine">Macédonien</option>
        <option value="madagascar">Malgache</option>
        <option value="malawi">Malawite</option>
        <option value="malaisie">Malaisien</option>
        <option value="maldives">Maldivien</option>
        <option value="mali">Malien</option>
        <option value="malte">Maltais</option>
        <option value="maroc">Marocain</option>
        <option value="marshall">Iles Marshall</option>
        <option value="maurice">Mauricien</option>
        <option value="mauritanie">Mauritanien</option>
        <option value="mexique">Mexicain</option>
        <option value="micronesie">Micronésien</option>
        <option value="moldavie">Moldave</option>
        <option value="monaco">Monégasque</option>
        <option value="mongolie">Mongol</option>
        <option value="mozambique">Mozambicain</option>
        <option value="namibie">Namibien</option>
        <option value="nauru">Nauruans</option>
        <option value="nepal">Népali</option>
        <option value="nicaragua">Nicaraguayen</option>
        <option value="niger">Nigerien</option>
        <option value="nigeria">Nigérian</option>
        <option value="nord_korea">Coréen du Nord</option>
        <option value="norvege">Norvégien</option>
        <option value="nouvelle_zelande">Néo-zélandais</option>
        <option value="nicaragua">Nicaraguayen</option>
        <option value="pays_bas">Néerlandais</option>
        <option value="pakistan">Pakistanais</option>
        <option value="palestine">Palestinien</option>
        <option value="panama">Panaméen</option>
        <option value="papouasie_nouvelle_guinee">Papouan-Néo-Guinéen</option>
        <option value="paraguay">Paraguayen</option>
        <option value="perou">Péruvien</option>
        <option value="philippines">Philippin</option>
        <option value="pologne">Polonais</option>
        <option value="portugal">Portugais</option>
        <option value="qatar">Qatari</option>
        <option value="republique_tcheque">Tchèque</option>
        <option value="roumanie">Roumain</option>
        <option value="royaume_uni">Britannique</option>
        <option value="russie">Russe</option>
        <option value="rwanda">Rwandais</option>
        <option value="saint_kitts_et_nevis">Saint-Kitts-et-Nevis</option>
        <option value="saint_lucie">Sainte-Lucie</option>
        <option value="saint_vincent_et_grenadines">Saint-Vincent-et-les Grenadines</option>
        <option value="salomon">Îles Salomon</option>
        <option value="sao_tome_et_principe">Sao Tomé-et-Principe</option>
        <option value="senegal">Sénégalais</option>
        <option value="serbie">Serbe</option>
        <option value="seychelles">Seychellois</option>
        <option value="sierra_leone">Sierra-léonais</option>
        <option value="singapour">Singapourien</option>
        <option value="slovaquie">Slovaque</option>
        <option value="slovenie">Slovène</option>
        <option value="somalie">Somalien</option>
        <option value="soudan">Soudanais</option>
        <option value="soudan_du_sud">Soudanais du Sud</option>
        <option value="sri_lanka">Sri-lankais</option>
        <option value="suede">Suédois</option>
        <option value="suisse">Suisse</option>
        <option value="suriname">Surinamien</option>
        <option value="syrie">Syrien</option>
        <option value="tadjikistan">Tadjik</option>
        <option value="tanzanie">Tanzanien</option>
        <option value="thailande">Thaïlandais</option>
        <option value="togo">Togolais</option>
        <option value="tonga">Tongien</option>
        <option value="trinite_et_tobago">Trinidadien</option>
        <option value="tunisie">Tunisien</option>
        <option value="turkmenistan">Turkmène</option>
        <option value="turquie">Turc</option>
        <option value="tuvalu">Tuvaluan</option>
        <option value="uganda">Ougandais</option>
        <option value="ukraine">Ukrainien</option>
        <option value="uruguay">Uruguayen</option>
        <option value="vanuatu">Vanuatuan</option>
        <option value="vatican">Vatican</option>
        <option value="venezuela">Vénézuélien</option>
        <option value="vietnam">Vietnamien</option>
        <option value="yemen">Yéménite</option>
        <option value="zambie">Zambien</option>
        <option value="zimbabwe">Zimbabwéen</option>
    </select>
</p>

<p> <!-- taille -->
    <label for = "height">Taille (en cm) : </label>
    <input type = "number" min = 0 name = "height" value = "{{ user['height'] }}" id = "height">
</p>

<p> <!-- poids -->
    <label for = "weight">Poids (en kg) : </label>
    <input type = "number" min = 0 name = "weight" value= "{{ user['weight'] }}" id = "weight">
</p>

<p>
    <input type="submit" value="Enregister">
</p>

<!-- Fonction en java_sript entièrement réalisée par l'IA-->
<script>
function afficherModification() {
    const first_name = document.getElementById("texte").value;
    document.getElementById("output-texte").innerText = first_name;

    const last_name = document.getElementById("texte").value;
    document.getElementById("output-texte").innerText = last_name;
    
    const username = document.getElementById("texte").value;
    document.getElementById("output-texte").innerText = username;
    
    const email = document.getElementById("texte").value;
    document.getElementById("output-texte").innerText = email;

    const mdp = document.getElementById("motdepasse").value;
    document.getElementById("output-motdepasse").innerText = mdp;

    
    const birth_day = document.getElementById("choix").value;
    document.getElementById("output-choix").innerText = birth_day;
    
    const birth_month = document.getElementById("choix").value;
    document.getElementById("output-choix").innerText = birth_month;

    const birth_year = document.getElementById("choix").value;
    document.getElementById("output-choix").innerText = birth_year

    const sexe = document.getElementById("texte").value;
    document.getElementById("output-texte").innerText = sexe;
    
    const nationality = document.getElementById("texte").value;
    document.getElementById("output-texte").innerText = nationality;

    const height = document.getElementById("motdepasse").value;
    document.getElementById("output-motdepasse").innerText = height;    
    
    const weight = document.getElementById("motdepasse").value;
    document.getElementById("output-motdepasse").innerText = weight;

}
</script>

</body>
{% endblock %}





