{% extends "base.html" %}
{% block content %}
{% if data or is_logged %}

<h1 id="Accueil">Tableau de bord</h1>

<p>Bonjour {{ session['name_user']|title if session["name_user"] else 'invité'}}, bienvenue sur votre tableau de bord de suivi !</p>

<div class="dashboard">
    <div class="container">
        <li>Nombre de pas : {{ data['step_data'] if data.get('step_data') else 0 }} pas </li>
    </div>
    <div class="container">
        <li>Distance : {{ data['distance_data'] if data.get('distance_data') else 0 }} km </li>
    </div>
    <div class="container">
        <li>Calories : {{ data['calories_data'] if data.get('calories_data') else 0 }} kcal </li>
    </div>
    <div class="container">
        <li>Nombre d’étages : {{ data['floors_data'] if data.get('floors_data') else 0 }} étages </li>
    </div>
    <div class="container">
        <li>Durée du sommeil : {{ data['sleep_duration_data'] if data.get('sleep_duration_data') else 0 }} heures </li>
    </div>
    <div class="container">
        <li>Score du sommeil : {{ data['sleep_score_data'] if data.get('sleep_score_data') else  'aucun' }} </li>
    </div>
</div>

{% else %}
<h1 id="Accueil"></h1>

<p>Bonjour {{ session['name_user']|title if session ["name_user"]
else 'invité'}}, bienvenue sur notre page web!</p>
{% endif %}

{% endblock %}

{% if data %}

<style>
    .container {
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        transition: background-color 0.3s ease;
    }

    .container:hover {
        background-color: gray;
    }
</style>

{% endif %}