{% extends "base.html"%}

{% block content%}

<h1>Mes compétitions</h1>
<p>
    <a href="{{ url_for('create_tournament') }}">Créer une compétition</a>
    ou bien
    <a href="{{ url_for('join_tournament') }}">rejoindre une compétition déjà en cours</a>
</p>
<h2>Compétitions en cours :</h2>
il va falloir implémenter une fct qui nous affiche " y'a pas de compétitions en cours " si y'en a pas
et qui les montre si y'en a, suremement a partir d'un nv json dédié aux compéitions.
il faudrait que chaque compétition ait une url et donc redirige vers une autre page automatiquement
<h2>Compétitions terminées :</h2>
meme chose ici

{% endblock %}
